OPENAI_API_KEY=<KEY>
ANTHROPIC_API_KEY=<KEY>
TAVILY_API_KEY=<KEY>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<KEY>
LANGSMITH_PROJECT=<PROJECT_NAME>

PINECONE_API_KEY=<KEY>
INDEX_NAME=<INDEX_NAME>
